<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar Libros</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <h1>Buscar Libro</h1>
    <form action="#" th:action="@{/buscar-libro}" method="post">
        <label for="filtro">Buscar por ISBN, Título, Autor o Género:</label>
        <input type="text" id="filtro" name="filtro" required />
        <button type="submit">Buscar</button>
    </form>
</body>

</html>