<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <h1>Gestión de Libros</h1>
    <nav>
        <ul>
            <li><a th:href="@{/agregar-libro}">Agregar Libro</a></li>
            <li><a th:href="@{/eliminar-libro}">Eliminar Libro</a></li>
            <li><a th:href="@{/libros}">Listar Libros</a></li>
            <li><a th:href="@{/buscar-libro}">Buscar Libro</a></li>
            <li><a th:href="@{/editar-libro}">Editar Libro</a></li>
        </ul>
    </nav>
</body>

</html>